<a href="https://colab.research.google.com/github/Boin-Kau/recommender-systems-using-python/blob/main/basic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
# MovieLens 데이터 소개
## GroupLens 테스트 추천시스템으로부터 수집
## MovieLens 100K 데이터는 
### 사용자 데이터(u.user) 
### 영화 데이터(u.item) 
### 영화 평가데이터(u.data) 로 구성

# 사용자 u.user 파일을 DataFrame으로 읽기
import os
import pandas as pd

base_src = 'drive/MyDrive/RecoSys/Data/recommender_systems_data'
u_user_src = os.path.join(base_src, 'u.user')
u_cols = ['user_id', 'age', 'sex', 'occupation', 'zip_code']
users = pd.read_csv(u_user_src, sep='|', names=u_cols, encoding='latin-1')
users = users.set_index('user_id')
users.head()

         age sex  occupation zip_code
user_id
1         24   M  technician    85711
2         53   F       other    94043
3         23   M      writer    32067
4         24   M  technician    43537
5         33   F       other    15213

In [ ]:
# u.item 파일을 DataFrame으로 읽기